:root {
    --timeline-color-primary: #2e8555;
    --timeline-color-card-details: #000000;
    --timeline-color-card-title: #2e8555;
    --timeline-color-secondary: #2e8555;
    --timeline-color-title: #000000;
    --timeline-color-title-active: #ffffff;
    --timeline-color-card-bg: #dcdcdc;

}

[data-theme='dark'] {
    --timeline-color-primary: #25c2a0;
    --timeline-color-card-details: #ffffff;
    --timeline-color-card-title: #25c2a0;
    --timeline-color-secondary: #25c2a0;
    --timeline-color-title: #e2e2e2;
    --timeline-color-title-active: #000000;
    --timeline-color-card-bg: #454545;
}