.grid_world {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
}

.animation {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
}

.controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    position: relative;
}

.controls .fields {
    display: flex;
    flex-direction: column;
    align-items: left;
    position: relative;
}

.controls .fields input {
    align-items: center;
    width: 50px;
}

.controls button {
    padding: 10px;
    font-size: 16px;
    width: 50px;
    aspect-ratio: 1 / 1;
    border-radius: 10%;
    border-width: 3px;
}

.controls .reset {
    width: 160px;
    border-radius: 3%;
    aspect-ratio: 3 / 1;
}

.button-group {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-top: -15px;
    margin-bottom: 10px;
}

.cell .arrow {
    font-size: 24px; /* Adjust the size as needed */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #333;
}

.button-group button {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.button-group button i {
    font-size: 16px;
    color: #333;
}

.progress-bar-container {
    width: 100%;
    height: 20px;
    background-color: #e0e0e0;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 50px;
}

.progress-bar {
    height: 100%;
    background-color: #76c7c0;
    transition: width 0.3s;
}


.grid {
    display: inline-block;
    width: 80%;
    max-width: 500px;
    aspect-ratio: 4 / 3;
    margin: 0 auto;
    margin-bottom: 20px;
}

.row {
    display: flex;
}

.cell {
    flex: 1;
    aspect-ratio: 1 / 1;
    border: 2px solid #ccc; /* Default border color, overridden dynamically */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10%;
    margin: 1%;
    font-size: x-large;
}

.cell.with-images {
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;
}

.goal.with-images {
    background-image: url('/static/img/learning/rl/grid-world/goal.png');
}

.penalty.with-images {
    background-image: url('/static/img/learning/rl/grid-world/penalty.png');
}

.obstacle.with-images {
    background-image: url('/static/img/learning/rl/grid-world/obstacle.png');
}

/* Remove or adjust the .robot class if needed */
.robot {
    background-image: url('/static/img/learning/rl/grid-world/robot.svg');
    background-size: cover;
    background-color: #ffffff6f;
}

.start {
    background-color: #ffffff6f;
}

.goal {
    background-color: #ffe8a382;
    border-color: #ffe8a3;
    background-image: url('/static/img/learning/rl/grid-world/goal.png');
}

.animation .cell {
    background-image: none;
}

.penalty {
    background-color: #ffc7c28b;
    border-color: #ffc7c2;
    background-image: url('/static/img/learning/rl/grid-world/penalty.png');
}

.obstacle {
    background-color: #cccccc3f;
    border-color: #cccccc;
    background-image: url('/static/img/learning/rl/grid-world/obstacle.png');
}

.empty {
    background-color: #ffffff6f;
}

.reward {
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: bold;
}

.message {
    display: flex;
    position: absolute;
    top: 10%;
    font-size: 32px;
    font-weight: bold;
    animation: fadeout 1s forwards;
}

.message.positive {
    color: green;
}

.message.negative {
    color: red;
}

@keyframes fadeout {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@media (max-width: 600px) {
    .controls button {
        font-size: 12px;
        width: 40px;
    }

    .reset-button {
        width: calc(3 * 40px + 2 * 8px); /* width of three buttons + two margins */
    }

    .message {
        font-size: 24px;
    }

    .reward {
        font-size: 16px;
    }

    .cell {
        background-size: 60%; /* Adjust size for smaller screens */
    }
}

/* Q-value display */
.quadrant {
    position: absolute;
    width: 50%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
